name: Build Flutter Windows EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter (Dart >= 3.10)
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.3'

      - name: Enable Windows desktop
        run: flutter config --enable-windows-desktop

      - name: Flutter doctor
        run: flutter doctor -v

      - name: Get dependencies
        run: flutter pub get

      - name: Build Windows Release
        run: flutter build windows --release

      - name: Upload Windows build
        uses: actions/upload-artifact@v4
        with:
          name: windowsExe
          path: build/windows/runner/Release
