name: Flutter Windows Build + Setup

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.4'

      - name: Enable Windows desktop
        run: flutter config --enable-windows-desktop

      - name: Get dependencies
        run: flutter pub get

      - name: Build Windows release
        run: flutter build windows --release

      - name: Install Inno Setup
        run: choco install innosetup -y

      - name: Compile Installer with Inno Setup
        run: '"C:\Program Files (x86)\Inno Setup 6\ISCC.exe" "windows-exe\installer.iss"'

      - name: Upload Setup EXE
        uses: actions/upload-artifact@v4
        with:
          name: C-SchoolApp-Setup
          path: windows-exe\C-SchoolApp-Setup.exe

